{% load django_bootstrap5 djangoclarity_extras %}

{# Bring in the formset management #}
{{ formset.management_form }}

{# Formset header #}
<h2>{{ model_verbose_name|title }}</h2>

{# Show vertical tabs, one for each form in the formset #}
<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills mb-3" id="formset-tab" role="tablist" aria-orientation="vertical">
      {% for formset_form in formset_forms %}
        <button class="nav-link {% if forloop.first %}active{% endif %}" id="formset-tab-{{ forloop.counter }}" data-bs-toggle="pill" data-bs-target="#formset-pane-{{ forloop.counter }}" type="button" role="tab" aria-controls="formset-pane-{{ forloop.counter }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
          {{ forloop.counter }}. {% if not formset_form.form.empty_permitted or formset_form.form.initial %}{{ formset_form.form.instance }}{% else %}New {{ model_verbose_name|title }}{% endif %}
        </button>
      {% endfor %}
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="formset-tabContent">
      {% for formset_form in formset_forms %}
        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="formset-pane-{{ forloop.counter }}" role="tabpanel" aria-labelledby="formset-tab-{{ forloop.counter }}">
          <div class="p-3">
            {% djangoclarity_render_formset_form formset_form.form formset_form.is_new %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>