{% load django_bootstrap5 clarity_extras %}

{# Bring in the formset management #}
{{ formset.management_form }}

{# Show vertical tabs, one for each form in the formset #}
<b-tabs vertical pills class="mb-3" nav-wrapper-class="w-25" content-class="creator-formset-tab-content">
  {% for formset_form in forms %}
    <b-tab>
      {# Display the index number, then the stringified model instance or that it's an extra form #}
      <template #title>
        <div>{{ forloop.counter }}. {% if not formset_form.empty_permitted or formset_form.initial %}{{ formset_form.instance }}{% else %}New {{ model_verbose_name|title }}{% endif %}</div>
      </template>

      {# Render the formset's form #}
      <div class="p-3">
        {% render_formset_form formset_form formset_form.instance.pk == None %}
      </div>
    </b-tab>
  {% endfor %}
</b-tabs>