{% load django_bootstrap5 clarity_extras %}

{# Bring in the formset management #}
{{ formset.management_form }}

<h3>{{ verbose_name_plural }}</h3>
{% for formset_form in formset_forms %}
  {# Delete checkbox positioned at the top (only for existing forms) #}
  {% if formset_form.has_delete and formset_form.has_instance_pk %}
    <div class="mb-3 d-flex align-items-center">
      <input class="form-check-input text-danger" type="checkbox" name="{{ formset_form.form.DELETE.html_name }}" id="{{ formset_form.form.DELETE.auto_id }}">
      <label class="form-check-label" for="{{ formset_form.form.DELETE.auto_id }}">
        Select and click Update to delete this {{ verbose_name if verbose_name else model_verbose_name|title }}
      </label>
    </div>
  {% endif %}

  {# Render the form, noting that it's within a formset #}
  {% render_form formset_form True %}

  {# Visual separator #}
  <hr />
{% endfor %}