{% extends base_template|default:"djangoclarity/base.html" %}
{% load django_bootstrap5 %}

{% block title %}
{{ block.super }} | {{ model_verbose_name|title }} Creator Delete
{% endblock title %}

{% block content %}
<div class="container py-3">
  <!-- Page header -->
  <div class="d-flex align-items-center justify-content-between w-100 mb-3">
    <h1>{{ model_verbose_name|title }} Creator Delete</h1>
    <div class="d-flex align-items-center">
      <a href="{{ index_url }}" class="me-2">Back To Index</a>
    </div>
  </div>

  <form method="post" class="d-flex flex-column">
    {% csrf_token %}

    <!-- Confirmation text -->
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <p><strong>WARNING: THIS CANNOT BE UNDONE!</strong></p>

    <!-- Buttons at the bottom -->
    <div class="d-flex align-items-center justify-content-end w-100">
      <a href="{{ index_url }}" class="me-3">Cancel</a>
      {% bootstrap_button "Confirm" button_type="submit" button_class="btn-danger" %}
    </div>
  </form>
</div>
{% endblock content %}