{% extends "base_vue.html" %}

<!-- Import Jinja2 macro for rendering the form -->
{% from "creators/includes/form_macros.jinja2" import render_form %}

{% block extrahead %}
{{ super() }}

<!-- Required for styling/js to make ckeditor5 work -->
{{ form.media }}
{% endblock %}

{% block body_class %}{% endblock body_class %}

{% block title %}
{{ super() }} | Create {{ form._meta.model._meta.verbose_name|title }} Instance
{% endblock %}

{% block content %}
<div id="app" v-cloak>
  <b-container class="py-3">
    <b-form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- Page header -->
      <div class="d-flex align-items-center justify-content-between w-100 mb-3">
        <h1>{{ form._meta.model._meta.verbose_name|title }} Creator</h1>

        <!-- Navigation -->
        <div class="d-flex align-items-center">
          <a href="{{ index_url }}" class="mr-2">Back To Index</a>
          <b-button variant="success" type="submit" class="mr-2">Create</b-button>
        </div>
      </div>

      <!-- All form & formset errors displayed at the top -->
      {% if all_errors %}
      <b-alert show variant="danger" class="mb-4">
        <h4 class="alert-heading">Please fix the following errors:</h4>
        <ul class="mb-0">
          {% for error in all_errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </b-alert>
      {% endif %}

      <!-- Form header -->
      <h2>{{ form._meta.model._meta.verbose_name|title }}</h2>

      <!-- Render the form -->
      {{ render_form(form) }}

      <!-- If we're creating then let the user know of any upcoming child models in the update page -->
      {% if formset_model_names|length > 0 %}
      <h3>You will be able to create the following record(s) after saving:</h3>
      <ul>
        {% for formset_model_name in formset_model_names %}
        <li>{{ formset_model_name|title }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <!-- Navigation at the bottom -->
      <div class="d-flex justify-content-end w-100">
        <div class="d-flex align-items-center">
          <a href="{{ index_url }}" class="mr-2">Back To Index</a>
          <b-button variant="success" type="submit" class="mr-2">Create</b-button>
        </div>
      </div>
    </b-form>
  </b-container>
</div>
{% endblock content %}

{% block scripts %}
<script>
const app = new Vue({
  el: "#app",
  delimiters: ["[[", "]]"],
  data() {},
});
</script>
{% endblock scripts %}